<section class="container section__about">
  <svg class="section__about_icon-up" width="27" height="25">
    <use href="./images/symbol-defs.svg#icon-up"></use>
  </svg>
  <p class="section__about_title">
    Профессиональный IQ-тест позволяет не только определить коэффициент вашего
    интеллекта, но и выработать список рекомендаций для повышения этого
    показателя.
  </p>
  <svg class="section__about_icon-down" width="23" height="20">
    <use href="./images/symbol-defs.svg#icon-down"></use>
  </svg>
</section>
