<header class="container header">
  <button type="button" class="nav__menu_btn">
    <svg width="24" height="16">
      <use href="./images/symbol-defs.svg#icon-menu"></use>
    </svg>
  </button>
  <div class="mob__menu mob__menu_is-hidden">
    <button type="button" class="mob__menu_close-btn">
      <svg width="28" height="28">
        <use href="./images//symbol-defs.svg#icon-close-modal"></use>
      </svg>
    </button>
    <ul class="mob__menu_list">
      <li class="mob__menu_item">
        <a href="./index.html" class="mob__menu_link link">Главная</a>
      </li>
      <li class="mob__menu_item">
        <a href="#" class="mob__menu_link link">Информация о тесте</a>
      </li>
      <li class="mob__menu_item">
        <a href="#" class="mob__menu_link link">Пройти тест</a>
      </li>
    </ul>
  </div>
</header>
