<section class="container section__hero">
  <p class="section__hero_name">Пройдите точный и быстрый</p>
  <h1 class="section__hero_title">
    Тест на <br />определение<br />
    IQ
  </h1>
  <button type="button" class="section__hero_btn btn">Пройти тест</button>
  <p class="section__hero_about">
    И получите рекомендации<br />
    по развитию своего интеллекта
    <span class="section__hero_about-color"
      >и улучшению финансового благосостояния и личной жизни</span
    >
  </p>
  <button type="button" class="section__hero_btn-more">
    <svg class="section__hero_btn-icon" width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-arrow"></use>
    </svg>
    Подробнее
  </button>
</section>
