<main>
  <section class="container section__hero">
    <p class="section__hero_name">Пройдите точный и быстрый</p>
    <h1 class="section__hero_title">
      Тест на <br />определение<br />
      IQ
    </h1>
    <button type="button" class="section__hero_btn btn">Пройти тест</button>
    <p class="section__hero_about">
      И получите рекомендации<br />
      по развитию своего интеллекта
      <span class="section__hero_about-color"
        >и улучшению финансового благосостояния и личной жизни</span
      >
    </p>
    <button type="button" class="section__hero_btn-more">
      <svg class="section__hero_btn-icon" width="16" height="16">
        <use href="./images/symbol-defs.svg#icon-arrow"></use>
      </svg>
      Подробнее
    </button>
  </section>
  <div class="overlay__wrap visually-hidden">
    <section id="about" class="container section__about">
      <svg class="section__about_icon-up" width="30" height="25">
        <use href="./images/symbol-defs.svg#icon-up"></use>
      </svg>
      <p class="section__about_title">
        Профессиональный IQ-тест позволяет не только определить коэффициент
        вашего интеллекта, но и выработать список рекомендаций для повышения
        этого показателя.
      </p>
      <svg class="section__about_icon-down" width="23" height="20">
        <use href="./images/symbol-defs.svg#icon-down"></use>
      </svg>
    </section>
    <section class="container section__brain">
      <p class="section__brain_title">
        Также по результатам теста
        <span class="section__brain_title-size">вы получите</span> подробные
        <span>советы</span> по определению наиболее
        <span class="section__brain_title-size">для вашего типа</span>
        <span class="section__brain_title-style">интеллекта</span>
        <span class="section__brain_title-size">сферы деятельности</span>,
        которая принесет вам скорейший финансовый результат.
      </p>
      <img
        src="./images/325-01.png"
        alt="Мозг"
        class="section__brain_img"
        width="250"
      />
      <button type="button" class="section__brain_btn btn">Пройти тест</button>
    </section>
    <section class="container section__test">
      <p class="section__test_title">
        Прохождение теста займет у вас не более
        <span class="section__test_title-color">12 минут</span>, а его
        результаты вы сможете
        <span class="section__test_title-color">использовать всю жизнь.</span>
      </p>
      <div class="section__test_wrap">
        <p class="section__test_wrap-title">
          Профессиональная интерпретация и детально
          <span class="section__test_wrap-style"
            >проработанные рекомендации</span
          >
          позволят вам качественно
          <span class="section__test_wrap-style"
            >изменить все аспекты своей жизни:</span
          >
          от финансового до любовного.
        </p>
      </div>
      <button type="button" class="section__test_btn btn">Пройти тест</button>
      <div class="wrapper">
        <svg class="wrapper_icon" width="12" height="12">
          <use href="./images/symbol-defs.svg#icon-footer"></use>
        </svg>
        <p class="wrapper_title">2019</p>
      </div>
    </section>
  </div>
</main>
