<div class="wrapper__test">
  <img src="./images/Group1.png" alt="Загрузка" width="100" />
  <form>
    <h2>Ваш пол:</h2>
    <label>
      <input type="radio" name="gender" />
      Мужчина</label
    >
    <label>
      <input type="radio" name="gender" />
      Женщина</label
    >
  </form>
  <button type="button">Далее</button>
</div>

<!-- 2 стр теста -->
<div class="wrapper__test">
  <img src="./images/Group2.png" alt="Загрузка" width="100" />
  <form>
    <h2>укажите ваш возраст:</h2>
    <label>
      <input type="radio" name="age" />
      До 18</label
    >
    <label>
      <input type="radio" name="age" />
      От 18 до 28</label
    ><label>
      <input type="radio" name="age" />
      От 29 до 35</label
    >
    <label>
      <input type="radio" name="age" />
      От 36</label
    >
  </form>
  <button type="button">Далее</button>
</div>

<!-- 3 стр теста -->
<div class="wrapper__test">
  <img src="./images/Group3.png" alt="Загрузка" width="100" />
  <form>
    <h2>Выберите лишнее:</h2>
    <label>
      <input type="radio" name="house" />
      Дом</label
    >
    <label>
      <input type="radio" name="house" />
      Шалаш</label
    ><label>
      <input type="radio" name="house" />
      Бунгало</label
    >
    <label>
      <input type="radio" name="house" />
      Скамейка</label
    >
    <label>
      <input type="radio" name="house" />
      Хижина</label
    >
  </form>
  <button type="button">Далее</button>
</div>

<!-- 4стр теста -->
<div class="wrapper__test">
  <img src="./images/Group4.png" alt="Загрузка" width="100" />
  <form>
    <h2>Продолжите числовой ряд: 18 20 24 32</h2>
    <label>
      <input type="radio" name="number" />
      62</label
    >
    <label>
      <input type="radio" name="number" />
      48</label
    >
    <label>
      <input type="radio" name="number" />
      74</label
    >
    <label>
      <input type="radio" name="number" />
      57</label
    >
    <label>
      <input type="radio" name="number" />
      60</label
    ><label>
      <input type="radio" name="number" />
      77</label
    >
  </form>
  <button type="button">Далее</button>
</div>

<!-- 5стр теста -->
<div class="wrapper__test">
  <img src="./images/Group5.png" alt="Загрузка" width="100" />
  <form>
    <h2>Выберите цвет, который сейчас наиболее Вам приятен:</h2>
    <label><input type="radio" name="color" /></label>
    <label><input type="radio" name="color" /></label>
    <label><input type="radio" name="color" /></label>
    <label><input type="radio" name="color" /></label>
    <label><input type="radio" name="color" /></label>
    <label><input type="radio" name="color" /></label>
    <label><input type="radio" name="color" /></label>
    <label><input type="radio" name="color" /></label>
    <label><input type="radio" name="color" /></label>
  </form>
  <button type="button">Далее</button>
</div>

<!-- 6стр теста -->
<div class="wrapper__test">
  <img src="./images/Group6.png" alt="Загрузка" width="100" />
  <form>
    <h2>
      Отдохните пару секунд, еще раз Выберите цвет, который сейчас наиболее Вам
      приятен:
    </h2>
    <label><input type="radio" name="color" /></label>
    <label><input type="radio" name="color" /></label>
    <label><input type="radio" name="color" /></label>
    <label><input type="radio" name="color" /></label>
    <label><input type="radio" name="color" /></label>
    <label><input type="radio" name="color" /></label>
    <label><input type="radio" name="color" /></label>
    <label><input type="radio" name="color" /></label>
    <label><input type="radio" name="color" /></label>
  </form>
  <button type="button">Далее</button>
</div>

<!-- 7стр теста -->
<div class="wrapper__test">
  <img src="./images/Group7.png" alt="Загрузка" width="100" />
  <form>
    <h2>Какой из городов лишний?</h2>
    <label><input type="radio" name="city" />Вашингтон</label>
    <label><input type="radio" name="city" />Лондон</label>
    <label><input type="radio" name="city" />Париж</label>
    <label><input type="radio" name="city" />Нью-Йорк </label>
    <label><input type="radio" name="city" />Москва</label>
    <label><input type="radio" name="city" />Оттава</label>
  </form>
  <button type="button">Далее</button>
</div>

<!-- 8стр теста -->
<div class="wrapper__test">
  <img src="./images/Group8.png" alt="Загрузка" width="100" />
  <form>
    <h2>Выберите правильную фигуру из четырёх пронумерованных.</h2>
    <img src="./images/imageFigurine.png" alt="Фигура" width="100" />
    <label><input type="radio" name="figurine" />1</label>
    <label><input type="radio" name="figurine" />2</label>
    <label><input type="radio" name="figurine" />3</label>
    <label><input type="radio" name="figurine" />4</label>
  </form>
  <button type="button">Далее</button>
</div>

<!-- 9стр теста -->
<div class="wrapper__test">
  <img src="./images/Group9.png" alt="Загрузка" width="100" />
  <form>
    <h2>Вам привычнее и важнее:</h2>
    <label
      ><input type="radio" name="time" />Наслаждаться каждой минутой
      проведенного времени</label
    >
    <label
      ><input type="radio" name="time" />Быть устремленными мыслями в
      будущее</label
    >
    <label
      ><input type="radio" name="time" />Учитывать в ежедневной практике прошлый
      опыт</label
    >
  </form>
  <button type="button">Далее</button>
</div>

<!-- 10стр теста -->
<div class="wrapper__test">
  <img src="./images/Group10.png" alt="Загрузка" width="100" />
  <form>
    <h2>
      Какое определение, по-Вашему, больше подходит к этому геометрическому
      изображению:
    </h2>
    <img src="./images/geometry.png" alt="Геометрия" width="100" />
    <label><input type="radio" name="geometry" />оно остроконечное</label>
    <label><input type="radio" name="geometry" />оно устойчиво</label>
    <label
      ><input type="radio" name="geometry" />оно-находится в состоянии
      равновесия</label
    >
  </form>
  <button type="button">Далее</button>
</div>

<!-- 11стр теста -->
<div class="wrapper__test">
  <img src="./images/Group11.png" alt="Загрузка" width="100" />
  <form>
    <h2>Вставьте подходящее число</h2>
    <img src="./images/star.png" alt="звезда" width="100" />
    <label><input type="radio" name="star" />34</label>
    <label><input type="radio" name="star" />36</label>
    <label><input type="radio" name="star" />53</label
    ><label><input type="radio" name="star" />44</label
    ><label><input type="radio" name="star" />66</label
    ><label><input type="radio" name="star" />42</label>
  </form>
  <button type="button">Далее</button>
</div>

<!-- 12стр теста -->
<div class="wrapper__test">
  <img src="./images/Group12.png" alt="Загрузка" width="100" />
  <h2>обработка результатов</h2>
  <p>
    Определение стиля мышления........... ....
    ...................................................
  </p>
</div>
