.section__hero {
  min-width: 320px;
  background-image: url('../images/rain_bk.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding-top: 27px;
  padding-bottom: 11px;
}

.section__hero_name {
  font-family: PTSerif, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--primary-font-size);
  line-height: 0.7;
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--primary-text-color);
}

.section__hero_title {
  font-family: Yeseva One, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--title-font-size);
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--accent-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 40px;
  margin-bottom: 150px;
}

.section__hero_btn {
  font-family: Merriweather, sans-serif;
  font-weight: 700;
  font-size: var(--btn-font-size);
  line-height: 0.7;
  color: #0d0c11;
  letter-spacing: 0.1em;
  background-color: var(--accent-color);
  padding: 11px 17px;
  margin-bottom: 22px;
}

.section__hero_about {
  font-weight: 700;
  font-size: var(--secondary-font-size);
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.09em;
  margin-bottom: 11px;

  color: var(--accent-color);
}

.section__hero_about-color {
  color: var(--primary-text-color);
}

.section__hero_btn-more {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: var(--btn-more-font-size);
  line-height: 0.7;
  align-items: center;
  letter-spacing: 0.05em;
  border: none;
  background-color: inherit;
  margin-left: auto;
  margin-right: auto;

  color: var(--primary-text-color);

  &:hover {
    color: var(--accent-color);
  }
}

.section__hero_btn-icon {
  margin-bottom: 5px;
  fill: var(--primary-text-color);

  &:hover {
    fill: var(--accent-color);
  }
}
