.section__about {
  background-image: url('../images/image1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding-top: 43px;
  padding-bottom: 32px;
}

.section__about_icon-up {
  padding-left: 10px;
}

.section__about_title {
  margin-top: 17px;
  margin-bottom: 17px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.section__about_icon-down {
  display: flex;
  margin-left: 250px;
}
